<div class="example-container">
  <h2>First</h2>

  <div
    cdkDropList
    #firstList="cdkDropList"
    [cdkDropListData]="firstArray"
    [cdkDropListConnectedTo]="[secondList, copyList]"
    class="example-list"
    (cdkDropListDropped)="transfer($event)"
  >
    <div class="example-box" *ngFor="let item of firstArray" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Second</h2>

  <div
    cdkDropList
    #secondList="cdkDropList"
    [cdkDropListData]="secondArray"
    [cdkDropListConnectedTo]="[firstList]"
    class="example-list"
    (cdkDropListDropped)="transfer($event)"
  >
    <div class="example-box" *ngFor="let item of secondArray" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Copy</h2>

  <div
    cdkDropList
    #copyList="cdkDropList"
    [cdkDropListData]="copyArray"
    [cdkDropListConnectedTo]="[firstList]"
    class="example-list"
    (cdkDropListDropped)="copy($event)"
  >
    <div class="example-box" *ngFor="let item of copyArray" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>
